body {
    -moz-background-clip:border;
    -moz-background-origin:padding;
    -moz-background-size:auto auto;
    background-attachment:scroll;
    background-color:#99FF44;
    background-image:none;
    background-position:0 0;
    background-repeat:repeat;
    color:#333333;
    font-family:Arial,sans-serif;
    margin-bottom:0;
    margin-left:0;
    margin-right:0;
    margin-top:0;
    padding-bottom:0;
    padding-left:0;
    padding-right:0;
    padding-top:0;
}

.quantity{
    color:#008B00;
    font-weight:bold;
    text-align:right;
    font-size:14px;
}
a {
    color:black;
    font-weight:bold;
    text-decoration:none;
}
a img {
    border-bottom-color:-moz-use-text-color;
    border-bottom-style:none;
    border-bottom-width:0;
    border-left-color-ltr-source:physical;
    border-left-color-rtl-source:physical;
    border-left-color-value:-moz-use-text-color;
    border-left-style-ltr-source:physical;
    border-left-style-rtl-source:physical;
    border-left-style-value:none;
    border-left-width-ltr-source:physical;
    border-left-width-rtl-source:physical;
    border-left-width-value:0;
    border-right-color-ltr-source:physical;
    border-right-color-rtl-source:physical;
    border-right-color-value:-moz-use-text-color;
    border-right-style-ltr-source:physical;
    border-right-style-rtl-source:physical;
    border-right-style-value:none;
    border-right-width-ltr-source:physical;
    border-right-width-rtl-source:physical;
    border-right-width-value:0;
    border-top-color:-moz-use-text-color;
    border-top-style:none;
    border-top-width:0;
}
.clearfix {
    clear:both;
}
#explication {
    border-bottom-color:#252525;
    border-bottom-style:solid;
    border-bottom-width:2px;
    border-top-color:#252525;
    border-top-style:solid;
    border-top-width:2px;
}
#wrapper {
    -moz-background-clip:border;
    -moz-background-origin:padding;
    -moz-background-size:auto auto;
    -moz-border-radius-bottomleft:1em;
    -moz-border-radius-bottomright:1em;
    -moz-border-radius-topleft:1em;
    -moz-border-radius-topright:1em;
    border-bottom-left-radius: 1em 1em;
    border-bottom-left-radius: 1em 1em;
    border-bottom-right-radius: 1em 1em;
    border-bottom-right-radius: 1em 1em;
    border-top-left-radius: 1em 1em;
    border-top-left-radius: 1em 1em;
    border-top-right-radius: 1em 1em;
    border-top-right-radius: 1em 1em;
    background-attachment:scroll;
    background-color:white;
    background-image:none;
    background-position:0 0;
    background-repeat:repeat;
    margin-bottom:0.5em;
    margin-left:auto;
    margin-right:auto;
    margin-top:1em;
    padding-bottom:1.5em;
    padding-left:2em;
    padding-right:2em;
    padding-top:1.5em;
    width:55em;
}
#footer {
    color:#252525;
    font-size:0.8em;
    padding-bottom:1.5em;
    text-align:center;
}
#footer a {
    color:#006633;
    font-weight:bold;
    text-decoration:none;
}
#header h1 {
    float:left;
    font-size:3em;
    margin-bottom:0.3em;
    margin-left:0;
    margin-right:0;
    margin-top:0;
    padding-bottom:0;
    padding-left:0;
    padding-right:0;
    padding-top:0;
}
#header h1 a {
    color:#005577;
    text-decoration:none;
}
#header #user_bar {
    float:left;
    margin-top:1.2em;
}
#header #user_bar img {
    vertical-align:middle;
}
p {
    line-height:150%;
}

.example{
    color:#008B00;
    font-weight:bold;    
}
